*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero,
header {
    display: flex;
    background-color: #F7F9Ef;
}

header{
    height: 40px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
}
header .img{
    height: 60px;
    flex: 1 1 auto;
}

nav a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #927549;
    padding: 10px;
    font-size: 18px;
    flex: 1 1 auto;
}

nav a:hover{
    text-decoration: underline;
}

.hero{
    height: 350px;
    justify-content: center;
    align-items: center;
}

.herotext{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 200px;
    width: 300px;
    /* border-right: solid #927549; */
}

.herotextsecline{
    margin-top: 10px;
}

.heroimg img {
    padding-left: 10px;
    height: 200px;#
    width: auto;
}

.contactbutton {
    align-items: center;
    background-color: #927549;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #F7F9Ef;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 140px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    margin-top: 10px;
}

.contactbutton:hover,
.contactbutton:focus {
    background-color: #3c301e;
    color: #ffffff;
}

.contactbutton:active {
    background: #3c301e;
    color: rgb(255, 255, 255, .7);
}

.contactbutton:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}